@model IEnumerable<Bücherei.Models.SchuelerIn>

@{
    ViewData["Title"] = "Index";
}

<h1>SchülerInnen Liste</h1>

<p>
    <a asp-action="Create">Neue/n SchülerIn erstellen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nachname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Ausweisnummer">Bearbeiten</a> 
                <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Ausweisnummer">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Ausweisnummer">Löschen</a>
            </td>
        </tr>
}
    </tbody>
</table>
