@model IEnumerable<Bücherei.Models.Buch>

@{
    ViewData["Title"] = "Index";
}

<h1>Bücher Liste</h1>

<p>
    <a asp-action="Create">Neues Buch erstellen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sachgebiet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erscheinungsjahr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sachgebiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Erscheinungsjahr)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Buchnummer">Edit</a> 
                <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Buchnummer">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Buchnummer">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
