@model IEnumerable<Bücherei.Models.Ausleihe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Buch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchuelerIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ausleihdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Retourdatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Buch.Buchnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchuelerIn.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ausleihdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Retourdatum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
